html {
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-900: rgb(44, 41, 44);

  /* Pallete #1 */
  --header-1-color-1: rgb(140, 0, 255);
  --header-2-color-1: rgb(79, 10, 190);
  --header-3-color-1: rgb(245, 232, 255);

  --header-title-text-color-1: --color-grey-900;
  --header-paragraph-text-color-1: --color-grey-900;

  --configuration-background-1: rgb(243, 227, 255);
  --configuration-btn-1: var(--header-1-color-1);

  --player-name-1: rgb(50, 5, 87);
  --player-number-1: black;
  --player-symbol-1: rgb(47, 4, 82);

  --inactive-game-board-1: rgb(215, 187, 247);
  --active-game-board-1: rgb(112, 13, 204);

  font-family: 'Anek Telugu', sans-serif;
  font-weight: 400;
}
body {
  margin: 0;
  color: var(--color-grey-900);
  background-color: var(--background-color-1);
}

#header-ul {
  background-color: var(--header-1-color-1);

  margin: 0;
  padding: 2rem 5%;

  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-ul li {
  flex-basis: 100%;
}

#title-text h1 {
  color: var(--header-title-text-color-1);
  font-size: 3rem;
  text-align: center;
}

#paragraph-text p {
  color: var(--header-paragraph-text-color-1);
  font-size: 1.5rem;
}

#header-buttons ul {
  display: flex;
  justify-content: flex-end;
}

#header-buttons li {
  list-style: none;
  text-align: right;
}

#header-buttons li button {
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
}

#pallete-1-btn {
  background: linear-gradient(
    135deg,
    rgba(140, 0, 255, 1) 0%,
    rgba(79, 10, 190, 1) 37%,
    rgba(245, 232, 255, 1) 69%,
    rgba(215, 187, 247, 1) 100%
  );
}
#pallete-2-btn {
  background: linear-gradient(
    135deg,
    rgba(227, 199, 112, 1) 0%,
    rgba(254, 205, 112, 1) 44%,
    rgba(92, 65, 4, 1) 69%,
    rgba(243, 224, 181, 1) 88%
  );
}
#pallete-3-btn {
  background: linear-gradient(
    135deg,
    rgba(21, 19, 60, 1) 0%,
    rgba(115, 119, 123, 1) 44%,
    rgba(236, 153, 75, 1) 69%,
    rgba(241, 238, 233, 1) 88%
  );
}
#pallete-4-btn {
  background: linear-gradient(
    135deg,
    rgba(149, 21, 85, 1) 0%,
    rgba(119, 17, 68, 1) 37%,
    rgba(253, 240, 246, 1) 79%,
    rgba(253, 240, 246, 1) 79%,
    rgba(235, 174, 202, 1) 100%
  );
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: var(--header-1-color-1);
  border: 1px solid var(--header-1-color-1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: var(--configuration-btn-1);
}
.btn:hover {
  background-color: var(--header-2-color-1);
  border-color: var(--header-2-color-1);
}
.btn-alt:hover {
  background-color: var(--header-3-color-1);
  border-color: transparent;
}

.modal {
  position: fixed;
  top: 20%;
  left: 31.8%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% -20rem);
    width: 40rem;
  }
}

#config-overlay {
  text-align: center;
}
#config-overlay h2 {
  margin: 0.5rem 0;
}
.form-control {
  margin: 0.5rem 0;
}
.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control input {
  font: inherit;
  border: 1px solid rgb(204, 204, 204);
  width: 15rem;
  padding: 0.35rem;
}

.error label {
  color: rgb(136, 2, 2);
}
.error input {
  border-color: rgb(136, 2, 2);
  color: rgb(136, 2, 2);
  background-color: rgb(253, 219, 219);
}

#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}
#game-configuration ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#game-configuration li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: var(--configuration-background-1);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-configuration h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--player-number-1);
}
#game-configuration h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--player-name-1);
}

.player-symbol {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: var(--player-symbol-1);
}

#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--player-name-1);
  color: white;
  display: none;
}

#game-over h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: var(--player-name-1);
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: 0.5rem;
}

#game-board li {
  background-color: var(--inactive-game-board-1);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  /* Horizontal and Vertical center */
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: var(--active-game-board-1);
}

#game-board li.disabled {
  background-color: var(--active-game-board-1);
  color: white;
  cursor: default;
}
