html {
  --background-color-1: rgb(197, 94, 94);
  --background-color-2: rgb(255, 169, 0);
  --background-color-3: var(--background-color-1);

  --btn-font-color: rgb(218, 76, 86);
  --btn-1: rgb(255, 236, 228);
  --btn-alt-1: rgb(255, 201, 182);

  --todo-list-font: rgb(33, 37, 41);
  --todo-checkbox: rgb(220, 53, 69);
  --todo-checkbox-alt: rgb(204, 204, 204);

  --todo-icon: rgb(218, 102, 65);
  --todo-icon-alt: rgb(0, 86, 179);

  --counter-font-color: rgb(255, 255, 255);

  font-family: 'Baloo 2', cursive;
  font-weight: 400;
}
body {
  margin: 0;
  background-color: var(--background-color-1);
}

#page-logo a {
  padding-right: 0.5rem;
  font-family: 'Baloo 2', cursive;
  color: var(--btn-1);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#pomodoro {
  background-color: var(--background-color-1);
  color: var(--btn-1);
}
#first-row {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second-row {
  margin: 0;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
}

#third-row {
  margin: 0;
  padding-top: 2rem;
}

#fourth-row {
  margin: 0;
  text-align: center;
}

#first-row button {
  background: var(btn-1);
  color: var(--btn-font-color);
  height: 3rem;
  width: 15rem;

  margin: 0 1rem;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 2rem;
  border-color: transparent;

  font: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

#second-row button {
  background: var(btn-1);
  color: var(--btn-font-color);
  height: 4rem;
  width: 15rem;

  margin-right: 25px;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 2rem;
  border-color: transparent;

  font: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#first-row button:hover {
  background: var(--btn-alt-1);
  cursor: pointer;
}

#second-row button:hover {
  background: var(--btn-alt-1);
  cursor: pointer;
}

#third-row p {
  text-align: center;
  font-size: 4rem;
}

#third-row img {
  margin: 0 auto;
  display: block;
}

#fourth-row p {
  font: inherit;
  font-size: 8rem;
  font-weight: bold;
  color: var(--counter-font-color);
}

#todo {
  background-color: var(--background-color-2);
  color: var(--todo-list-font);
  margin: 0;
}

#credits {
  background-color: var(--background-color-3);
  color: var(--btn-1);
  margin: 0;
}
