html {
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-900: rgb(44, 41, 44);

  /* Pallete #1 */
  --header-1-color-1: rgb(140, 0, 255);
  --header-2-color-1: rgb(79, 10, 190);
  --header-3-color-1: rgb(245, 232, 255);

  --header-title-text-color-1: --color-grey-900;
  --header-paragraph-text-color-1: --color-grey-900;

  --configuration-background-1: rgb(243, 227, 255);
  --player-name-1: rgb(50, 5, 87);
  --player-symbol-1: rgb(47, 4, 82);

  --inactive-game-board-1: rgb(215, 187, 247);
  --active-game-board-1: rgb(112, 13, 204);

  /* Pallete #2 */
  --header-2-color-1: #fecd70;
  --header-1-color-1: #e3c770;
  --header-3-color-1: #5c4104;

  --header-title-text-color-1: --color-grey-900;
  --header-paragraph-text-color-1: --color-grey-900;

  --configuration-background-1: #f3e0b5;
  --player-name-1: #5c4104;
  --player-symbol-1: #5c4104;

  --inactive-game-board-1: #fccf7a;
  --active-game-board-1: #bea762;

  /* Pallete #3 */
  --header-1-color-1: #15133c;
  --header-2-color-1: #73777b;
  --header-3-color-1: #ec994b;

  --header-title-text-color-1: #ffffff;
  --header-paragraph-text-color-1: #ffffff;

  --configuration-background-1: #f1eee9;
  --player-name-1: #ec994b;
  --player-symbol-1: #ec994b;

  --inactive-game-board-1: #73777b;
  --active-game-board-1: #15133c;

  /* Pallete #4 */
  --header-1-color-1: rgb(149, 21, 85);
  --header-2-color-1: rgb(119, 17, 68);
  --header-3-color-1: rgb(253, 240, 246);

  --header-title-text-color-1: #ffffff;
  --header-paragraph-text-color-1: #ffffff;

  /* Cambiar también los botones para cuando se elija esta paleta */
  --configuration-background-1: rgb(119, 17, 68);
  --player-name-1: rgb(30, 4, 17);
  --player-symbol-1: rgb(30, 4, 17);

  --inactive-game-board-1: rgb(253, 240, 246);
  --active-game-board-1: rgb(149, 21, 85);

  font-family: 'Anek Telugu', sans-serif;
  font-weight: 400;
}
body {
  margin: 0;
  color: var(--color-grey-900);
  background-color: var(--background-color-1);
}

#header-ul {
  background-color: var(--header-1-color-1);

  margin: 0;
  padding: 2rem 5%;

  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-ul li {
  flex-basis: 100%;
}

#title-text h1 {
  color: var(--header-title-text-color-1);
  font-size: 2rem;
  text-align: center;
}

#paragraph-text p {
  color: var(--header-paragraph-text-color-1);
}

#header-buttons ul {
  display: flex;
  justify-content: flex-end;
}

#header-buttons li {
  list-style: none;
  text-align: right;
}

#pallete-1-btn {
  height: 20px;
  width: 20px;
}
#pallete-2-btn {
  height: 20px;
  width: 20px;
}
#pallete-3-btn {
  height: 20px;
  width: 20px;
}
#pallete-4-btn {
  height: 20px;
  width: 20px;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: var(--header-1-color-1);
  border: 1px solid var(--header-1-color-1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: var(--header-1-color-1);
}
.btn:hover {
  background-color: var(--header-2-color-1);
  border-color: var(--header-2-color-1);
}
.btn-alt:hover {
  background-color: var(--header-3-color-1);
  border-color: transparent;
}
