
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/favicon_2.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/svg.css" />
    <link rel="stylesheet" href="styles/overlays.css" />
    <link rel="stylesheet" href="styles/styles.css" />

    <script src="scripts/informationButtons.js" defer></script>
    <script src="scripts/svgButtons.js" defer></script>
    <script src="scripts/pomodoroButtons.js" defer></script>
    <script src="scripts/todoInteraction.js" defer></script>
    <script src="scripts/timer.js" defer></script>
    <script src="scripts/app.js" defer></script>

    <title id="title">(25:00) Pomodoro Timer</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu&amp;display=swap" rel="stylesheet">