<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('includes/head') %>
</head>
<body>
  <div id="backdrop" class="backdrop"></div>
    <aside class="modal" id="custom-timer-overlay">
    <div class="modal-header">
    <h2>ENTER CUSTOM TIMER OR LOAD PROFILE</h2>
    <img src="images/close-button.svg" id="timer-close-svg" data-src="custom-timer"/>
    </div>
    <div id="load-profile">
    <label for="profile-name">Select a Profile</label>
    <select name="profileName" id="profile-name">
        <option>Default</option>
        <% for(const existingProfile of existingProfiles) { %> 
        <option> <%=  existingProfile.profileName %> </option>
        <% } %> 
    </select>

      <button id="load-timer-btn" class="custom-timer-btn">Load Profile</button>
    </div>
    <div class="modal-body">
    <form action="/save-profile" method="POST">
        <ul>
        <li class="form-group">
            <label for="pomodoro-time">Pomodoro</label>
            <input
            type="text"
            name="pomodoro"
            id="pomodoro-time"
            value="25"
            />
        </li>
        <li class="form-group">
            <label for="short-break-time">Short Break</label>
            <input
            type="text"
            name="shortBreak"
            id="short-break-time"
            value="5"
            />
        </li>
        <li class="form-group">
            <label for="long-break-time">Long Break</label>
            <input
            type="text"
            name="longBreak"
            id="long-break-time"
            value="15"
            />
        </li>
        </ul>
        <div id="save-profile">
        <label for="save-profile">New Profile Name</label>
        <input type="text" name="profileName" >
        <button id="save-profile-btn" class="custom-timer-btn">Save Profile</button>
        </div>
        
    </div>

    </form>
</aside>
<aside class="modal" id="pomodoro-information-overlay">
    <div class="modal-header">
    <h2>What is Pomodoro Timer</h2>
    <img src="images/close-button.svg" id="pomodoro-close-svg" data-src="pomodoro-information"/>
    </div>
    <div class="modal-body">
    <h3>
        Online Pomodoro Timer
    </h3>
    <p>
        TomatoTimers is a customizable and easy to use looping pomodoro timer to boost your efficiency.
    </p>
    <h3>
        About Pomodoro Technique
    </h3>
    <p>
        Pomodoro™ Technique is a time management method developed by Francesco Cirillo in the late 1980s. This technique use timer to break down works into a set of intervals separated by breaks. Pomodoro technique increases productivity by taking short scheduled breaks regularly.
    </p>
    <h3>
        How to use Pomodoro/ Tomato timers
    </h3>
    <ul class="howto-list">
        <li class="howto-bullet">Decide task to be done set timers to 25 minutes for one "Pomodoro"</li>
        <li class="howto-bullet">Work on task until timer is complete</li>
        <li class="howto-bullet">After timer completion, put a checkmark on to-do list</li>
        <li class="howto-bullet">Take a 5 minutes short break</li>
        <li class="howto-bullet">After four "Pomodoro" take a long break</li>
        <li class="howto-bullet">Repeat to step 1</li>
    </ul>
    <p>USE THE LOOP BUTTON TO DO STEP 1 UNTIL STEP 5 IN A ROW</p>
    <p>Pomodoro™ and Pomodoro Technique® are registered trademarks of Francesco Cirillo. This web app is not affiliated with Francesco Cirillo.</p>
    </div>
</aside>
<aside class="modal" id="francesco-information-overlay">
    <div class="modal-header">
    <h2>Who is Francesco Cirillo?</h2>
    <img src="images/close-button.svg" id="francesco-close-svg" data-src="francesco-information"/>
    </div>

    <div class="modal-body">
    <h3>Inventions</h3>
    <p>
    He invented the Pomodoro Technique, a renowned time-management tool used by millions
    of people all over the world, three decades ago. He has worked at the forefront of the software industry
    for twenty years.
    </p>
    <h3>Experience</h3>
    <p>
    In a career spanning startups, multinationals and freelance consulting, he has mentored thousands
    of developers and software teams.
    </p>
    <h3>Additional Information</h3>
    <p>
    Francesco's core focus has always been improving productivity and efficiency,
    by finding ways to achieve better results with less time and less effort.
    </p>
    </div>
</aside>
    <section id="pomodoro">
      <div id="first-row">
        <div id="page-logo">
          <a href="index.html">Pomodoro Timer</a>
        </div>
        <button id="custom-timer-btn">Custom Timer</button>
        <button id="pomodoro-info-btn">What is Pomodoro Timer?</button>
        <button id="francesco-info-btn">Who is Franceso Cirillo?</button>
      </div>
      <div id="second-row">
        <button id="pomodoro-timer-btn">Pomodoro</button>
        <button id="short-break-btn">Short Break</button>
        <button id="long-break-btn">Long Break</button>
        <button id="loop-btn">Loop</button>
      </div>
      <div id="third-row">
        <p>
          <img src="images/tomato-cartoon.svg" id="tomato-cartoon" />
        </p>
      </div>
      <div id="fourth-row">
        <span id="minutes">25</span>
        <span>:</span>
        <span id="seconds">00</span>
      </div>
      <div id="fifth-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="button-svg"
          id="restart-1-svg"
          onclick="restartCurrentTimer();"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="button-svg"
          id="restart-2-svg"
          onclick="restartLoopTimer();"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="button-svg"
          id="play-svg"
          onclick="startTimer();"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="button-svg"
          id="stop-svg"
          onclick="stopTimer();"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 5.25v13.5m-7.5-13.5v13.5"
          />
        </svg>
      </div>
    </section>
    <section id="todo">
      <img src="images/todo-label.svg" alt="Todo Label" id="todo-svg" />
      <div id="todo-notes">
        <ul>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
          <li>
            <p>&nbsp;</p>
          </li>
        </ul>
      </div>
      <button id="todo-btn">Add To Do</button>
      <p>&nbsp;</p>
    </section>
  </body>
  <footer id="credits">
    <ul>
      <li>
        <a href="https://www.instagram.com/Hugondon">
          <img src="images/icons/insta.png" alt="Instagram Logo" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/hugorez/">
          <img src="images/icons/facebook.png" alt="Facebook Logo" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/hugo-perez9/">
          <img src="images/icons/linkedin.png" alt="LinkedIn Logo" />
        </a>
      </li>
    </ul>
  </footer>
</html>
